//=============================================
// VARIABLES
//=============================================


/* === COLORS === */
$brand-1: #E6614B !default;
$brand-2: #272727 !default;
$brand-3: #B4CBD2 !default; 
$brand-4: #F3F3F3 !default;

$gray-1: #101010 !default;
$gray-2: #313131 !default;
$gray-3: #616161 !default;
$gray-4: #BABABA !default;
$gray-5: #EAE9EC !default;
$gray-6: #FAFAFA !default;
$gray-7: #fff !default;

$warn-1: #DC953A !default;

$accent-1: #3393C8 !default;
$accent-2: #42975C !default;



/* === TYPOGRAPHY === */
$extra-light:   100 !default;
$light:         200 !default;
$book:          300 !default;
$regular:       400 !default;    $normal:        400 !default;
$medium:        500 !default;
$semibold:      600 !default;
$bold:          700 !default;
$black:         800 !default;    $extra-bold:    800 !default;
$extra-black:   900 !default;    $ultra-black:   900 !default;


$custom-font: Helvetica, sans-serif !default;
