.DS_Store
**/node_modules
**/bower_components
.arcconfig
aws.json
build
!build/images/sprite.png
data
design
dist
!dist/images/sprite.png
git-manifest.json
npm-debug.log
source/compiled-templates/*
source/images/*
!source/images/readme.md
!source/images/sprite.png
source/js/pixels
source/js/apps
source/scss/global/_sprites.scss