/* === ACCOUNT CONFIGURATION === */

/**
 * @desc config the login/register
 *       text on header
 */
$account-label-color: $gray-6 !default;


/**
 * @desc config the account dropdown
 *       after users log-in
 */
$account-drop-down-link-bg-md: $gray-7 !default;
$account-drop-down-link-color-md: $gray-1 !default;
$account-drop-down-link-border-color-md: darken($account-drop-down-link-bg-md, 5%) !default;
$account-drop-down-link-bg-md--hover: darken($account-drop-down-link-bg-md, 4%) !default;
$account-drop-down-link-color-md--hover: $account-drop-down-link-color-md !default;


/**
 * @desc config the modal objects when
 *       user clicks on Login/Register btn
 */
$account__modal__link-color: $brand-1 !default;


/**
 * @desc config verification banner
 *       when user hasn't verified account
 */
$account-verification-banner-bg: $gray-5 !default;
$account-verification-banner__text-color: $brand-1 !default;
$account-verification-banner__link-color: $brand-1 !default;
